%footer(data-role="footer" data-position="fixed")
	%nav(data-role="navbar")
		%ul
			%li
				%a(href="/" data-ajax="false" data-transition="slide" data-direction="reverse") Home
			%li
				%a(href="#work" data-transition="slide") Work