%footer(data-role="footer" data-position="fixed")
	%nav(data-role="navbar")
		%ul
			%li
				%a#btn_home(href="#home" data-transition="slide") Home
			%li
				%a#btn_work(href="#work" data-transition="slide") Work
			%li
				%a#btn_city(href="#city" data-transition="slide") City