%header{:data => {:role => 'header', :position => 'inline'}}
	%a#opt_cancel{:href => '#', :data => {:icon => 'delete', :rel => 'back'}} Cancel
	%h1 Options
	%a#opt_save{:href => '#', :data => {:icon => 'check', :theme => 'b'}} Save
	
%section{:data => {:role => 'content'}}
	%form#opt_form
		%h3 Addresses
		%label{:for => 'opt_home'} Home
		%input{:type => 'text', :name => 'home', :id => 'opt_home', :placeholder => 'Home Address'}
		%label{:for => 'opt_work'} Work
		%input{:type => 'text', :name => 'work', :id => 'opt_work', :placeholder => 'Work Address'}
		%label{:for => 'opt_city'} City
		%input{:type => 'text', :name => 'city', :id => 'opt_city', :placeholder => 'City Address'}