-# The structure of a route listing can be seen in public/sampleroute.json
%script{:id => "routes", :type => "text/x-handlebars-template"}
  .routeList{:data => {:role => "collapsible-set", :theme => "c", :'content-theme' => 'd'}}
    -# Go through the array of routes and select the single item in each
    {{#each []}}
    {{#with [0]}}
    .route{:data => {:role => "collapsible", :collapsed => "true"}}
      %p
        {{length}}
      %h3
        {{durationHMS}}
      %ul
      -# List each part of the route
        {{#legs}}
        %li
          %h4
            {{type}}
          %p.ul-li-aside
            {{length}}
        {{/legs}}
    {{/with}}
    {{/each}}