-# The structure of a route listing can be seen in public/sampleroute.json
%script{:id => 'routes', :type => 'text/x-handlebars-template'}
  .routeList{:data => {:role => 'collapsible-set', :theme => 'c', :'content-theme' => 'd'}}
    -# Go through the array of routes and select the single item in each
    {{#each []}}
    {{#with [0]}}
    .route{:data => {:role => 'collapsible', :collapsed => 'true'}}
      %h3
        %table
          %tr
            %td
              {{departureTime legs.[0]}}
            %td
              {{duration}}
            %td
              {{arrivalTime}}
          %tr
            %td
              {{firstLineDeparture}}
            %td
              {{totalWalkingDistance}}
            %td
              {{lastLineArrival}}
          %tr
            %td
            %td
              {{#legs}}
              %figure{:class => 'icon {{iconClass}}'}
                %figcaption {{lineNumber}}
              {{/legs}}
            %td
      -# List each part of the route
      {{#legs}}
      .leg
        %figure{:class => 'icon {{iconClass}}'}
          %figcaption {{lineNumber}}
        %h5 {{departureTime this}} - {{length}} - {{duration}}
      {{/legs}}
    {{/with}}
    {{/each}}

-# Header containing the names of departure and destination
%script{:id => 'fromToHeader', :type => 'text/x-handlebars-template'}
  %h4 {{[0].name}} - {{destination type}}

-# Selection list for multiple address matches
%script{:id => 'addressList', :type => 'text/x-handlebars-template'}
  %p There were multiple matches for your address, please select one:
  %div{:data => {:role => 'controlgroup'}}
    {{#each []}}
    %a{:data => {:role => 'button'}} 
      {{name}} - {{coords}}
    {{/each}}