-# The structure of a route listing can be seen in public/sampleroute.json
%script{:id => 'routes', :type => 'text/x-handlebars-template'}
  .routeList{:data => {:role => 'collapsible-set', :theme => 'c', :'content-theme' => 'd'}}
    -# Go through the array of routes and select the single item in each
    {{#each []}}
    {{#with [0]}}
    .route{:data => {:role => 'collapsible', :collapsed => 'true'}}
      %h3
        %table
          %tr
            %td
              {{departureTime legs.[0]}}
            %td
              {{duration}}
            %td
              {{arrivalTime}}
          %tr
            %td
              {{firstLineTime legs.[0]}}
            %td
              {{totalWalkingDistance}}
            %td
              {{endLineTime legs.[0]}}
      -# List each part of the route
      {{#legs}}
      .leg
        %h6
          %figure{:class => 'icon {{iconClass}}'}
          {{length}}
        %p
          {{duration}}
      {{/legs}}
    {{/with}}
    {{/each}}

-# Selection list for multiple address matches
%script{:id => 'addressList', :type => 'text/x-handlebars-template'}
  %p There were multiple matches for your address, please select one:
  %div{:data => {:role => 'controlgroup'}}
    {{#each []}}
    %a{:data => {:role => 'button'}} 
      {{name}} - {{coords}}
    {{/each}}