.route table {
	width: 100%;
}

.route td:first-child { /* column 1 */
	text-align: left;
}

.route td:first-child + td { /* column 2 */
	text-align: center;
}

.route td:first-child + td + td { /* column 3 */
	text-align: right;
}

.route tr:first-child { /* row 1 */

}

.route tr:first-child + tr { /* row 2 */
	color: #AAA;
	font-size: 80%;
}

.leg {
}

.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0px 5px;
}

.icon.walk {
	background-color: black;
	background-image: url("../img/walk.png");
}

.icon.tram {
	background-color: green;
	background-image: url("../img/tram.png");
}

.icon.metro {
	background-color: orange;
	background-image: url("../img/metro.png");
}

.icon.ferry {
	background-color: teal;
	background-image: url("../img/ferry.png");
}

.icon.bus {
	background-color: blue;
	background-image: url("../img/bus.png");
}