.route table {
	width: 100%;
}

.route td:first-child {
	text-align: left;
}

.route td:first-child + td {
	text-align: center;
}

.route td:first-child + td + td {
	text-align: right;
}

.leg {
	display: inline-block;
}

.icon {
	width: 24px;
	height: 24px;
}

.icon.walk {
	background-color: black;
	background-image: url("../img/walk.png");
}

.icon.tram {
	background-color: green;
	background-image: url("../img/tram.png");
}

.icon.metro {
	background-color: orange;
	background-image: url("../img/metro.png");
}

.icon.ferry {
	background-color: teal;
	background-image: url("../img/ferry.png");
}

.icon.bus {
	background-color: blue;
	background-image: url("../img/bus.png");
}